<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ca.nkrishnaswamy.picshare">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PicShare">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignUpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EnterEmailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ResetPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EnterNamePasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WelcomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AddProfilePhotoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ConfirmPhotoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SearchAccountsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FindAccountActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PickUsernameActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>